extensions:
    archette.blog: Archette\Blog\BlogExtension

orm.annotations:
    paths:
        - vendor/rixafy/blog

services:
    blogFacade:
        class: Rixafy\Blog\BlogFacade

    blogPostFacade:
        class: Rixafy\Blog\BlogPost\BlogPostFacade

    blogTagFacade:
        class: Rixafy\Blog\BlogTag\BlogTagFacade

    blogPublisherFacade:
        class: Rixafy\Blog\BlogPublisher\BlogPublisherFacade

    blogCategoryFacade:
        class: Rixafy\Blog\BlogCategory\BlogCategoryFacade

    blogFactory:
        class: Rixafy\Blog\BlogFactory

    blogDataFactory:
        class: Rixafy\Blog\BlogDataFactory

    blogRepository:
        class: Rixafy\Blog\BlogRepository

    blogPostRepository:
        class: Rixafy\Blog\BlogPost\BlogPostRepository

    blogTagRepository:
        class: Rixafy\Blog\BlogTag\BlogTagRepository

    blogPublisherRepository:
        class: Rixafy\Blog\BlogPublisher\BlogPublisherRepository

    blogCategoryRepository:
        class: Rixafy\Blog\BlogCategory\BlogCategoryRepository
